body {
  background-color: #f7f8fd;
}

.new-order-text {
  color: #6777ef;
}
.new-order h4 span {
  color: #6777ef;
  cursor: pointer;
}
.order-card .order-animation {
  width: 40%;
  transition: all 0.4s ease;
}

.order-animation.animated {
  transform: translateX(60%) scale(1.2);
}

.order-info {
  transition: all 0.3s ease;
}

.order-info.animated {
  opacity: 0;
  pointer-events: none;
}

.status-btns.animated {
  opacity: 0;
  pointer-events: none;
}

/* .status-btns {
  transition: all 0.3s ease;
} */

.submit-order.animated {
  display: none;
}

.new-order-text {
  transition: all 0.3s ease;
}

.new-order-text.animated {
  opacity: 0;
}

/* .status-form {
  position: absolute;
  width: 50vw;
  top: 0;
} */
.popup-content {
  margin: auto !important;
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 80%;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5) !important;
}
